<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generated.css') }}">
        <title>BDD Generator</title>
    </head>
    <body>
        <h1>BDD Generator</h1>
        <h2>Generated for: {{ page }} in {{ space }}</h2>
        <table>
            <tr>
                <th style="text-align: left;">Generated Code</th>
            </tr>
            <tr>
                <td id="code_view" colspan="3">{{ code }}</td>
            </tr>
        </table>
    </body>
</html>